@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500&family=Karla:wght@300&family=Montserrat:wght@500&display=swap');
*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
/*fonts*/
h1{
    line-height: 20%;
    font-weight: 550;
    font-family: 'Cormorant', serif;
    font-size: 8vw;
    color: #24252A;
    letter-spacing: 0.05em;
}

h2 {
    font-size: 1.6vw;
    color: #222;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

h3 {
    line-height: 120%;
    justify-content: center;
    font-weight: 350;
    font-family: 'Cormorant', serif;
    font-size: 4.2vw;
    line-height: 1em;
    color: #24252A;
    letter-spacing: 10%;
}
p {
    line-height: 1.7em;
    justify-content: center;
    font-weight: 300;
    font-size: 1.4vw;
    color: #465b52;
    font-family: 'Karla', sans-serif;
    letter-spacing: 0.05vw;
}

@media only screen and (max-width: 850px) {
    h2 {
        font-size: 2vw; 
        letter-spacing: 0.6em;
    }

    h1 {
        font-size: 11vw; 
        letter-spacing: 0.02em;;
    }

    h3 {
        font-size: 5.3vw;
        letter-spacing: 0.1vw;
    }
    p {
        letter-spacing: 0.08vw;
    }

    nav>ul>li>a {
        font-size: 0.6em;
        letter-spacing: 0.2em;
    }

    .card img {
        margin-top: 1em;
    }
    .card p, h3 {
        padding-left: 0.01em;
    }

}


.whitetext {
    color: azure;
}
section {
    height: 70vh;
    width: 100%;
    margin: 0;
}

li, a, button {
    
    font-weight: 600;
    font-size: 90%;
    color: #24252A;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 50%;
    letter-spacing: 105%;
}

button:active,
button:hover {
    color:azure;
    background: #C70808;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    padding: 1.875em 5%;;
    box-sizing: 1.875em 5%;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    padding: 1.875em 10%;
    background: transparent;
    background-color: rgba(0, 0, 0, 0.5);

}

.header {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    align-self: center;
    background-size: cover;    
    background-position: top; 
    height: 95vh;
}


#headerLogo {
    max-height: 5em; 
    max-width: 20em;
    position: fixed;
    top: 0.625%;
    padding-bottom: 0.625em;
    left: 5%;
    background-color: transparent;
}



#navbar {
    list-style: none;
    padding: 0 1.25em 0 1.875em;
    align-self: center;
    background-color: transparent;
    opacity: 110%;
    
}

#navbar li {
    display: inline-block;
    padding: 1.2em 1.2em 1.2em 1.2em;
     
    
}

#navbar li a {
    transition: all 0.3s ease 0s;
    color: azure;
    position:relative;
    letter-spacing: 0.2vw;
}



#navbar li a:hover{
    color: #C70808;
    text-decoration: none;
}

button {
    padding: 9px 25px;
    background-color: transparent;
    color: azure;
    border: 0.2px solid azure;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    
}

.headerCta {
    position: relative;
    padding: 1.25em;
}

/*Header section - text*/
.headerText {
    text-align: center;
    white-space: nowrap;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 4vh 9vw 7vh 9vw; 
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
}

.flex-container h2 {
    padding: 7vw; 
    padding-bottom: 20vh;

}

.flex-container h1 { 
    padding: 1vw;
    align-self: center;
}


/*Feature section*/

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    flex: 18.75em;
}

.card {
    flex: 1;
    max-width: 40%;
    max-height: 40em;
    object-fit: fill;
    text-align: center;
    margin: 10% 5%;
    align-items: center;
    justify-content: center;
}

.card img {
    max-width: 100%;
    margin: 0.625vh 0.625vh 0.625vh 0.625vh;
    background-image: cover;
    border-radius: 10px;
    box-shadow: 0.625em 0.625em 5.25em rgba(0, 0, 0, 0.03); 
    position: fixed center;

}

.card img:hover {
    box-shadow: 0.625em 7.125em 8.125em rgba(70, 62, 221, 0.1);
}


.card h3 {
    margin-top: 0.3em;
}
.card p {
    padding-top: 1.9em;
    margin: 0.2em 0 1.25em 0;
}



/*CTA*/
#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("background/banner/b2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4 {
color: #fff;
font-size: 20px;
}

#banner p {
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}

/*Footer section*/
footer {
    bottom: 0vh;
    height: 45vh;
    width: 100%;
    background: linear-gradient( to right, #1d2e28, #2d0b00);
    color: azure;
    padding: 5vh 2vw 5vh;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    font-size: 13px;
    line-height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    align-self: center;
    background-size: cover;   
}

.row {
    width: 90%;
    margin: 0.001vw;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col {
    flex-basis: 40%;
    padding: 0.01em 4em;
    align-items: center;
}

.newsletter {
    position: center;
}

#footerLogo {
    width: 20vw;
    max-width: 25vw;
    position: top;
    margin: 0em;
    padding-top: 0.2vh;
    padding-bottom: 0.2vh;
}

footer p {
    font-size: 100%;
    color: azure;
    padding-top: 0.1em ;
    letter-spacing: 0.1em;
}

footer a {
    color: azure;
    font-weight: 600;
    font-size: 110%;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 105%;
    transition: all 0.3s ease 0s;
    position: relative;
    letter-spacing: 0.2vw;
    padding-top: 4.5vh;
    padding-bottom: 2vh;
}

footer a:hover{
    color: #C70808;
    text-decoration: none;
}

.navcol {
    align-self: center;
    padding: 0 3vw;
    
}


.form {
    display: flex;
    width: 45%;
    flex-direction: column;
    justify-content: center;
}

.form input {
    height: 6vh;
    padding: 0 1.8vh;
    margin-top: 2vh;
    margin-bottom: 1.5vh;
    font-size: 14px;
    width: 25vw;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
}

.form button {
    align-self: center;
    justify-content: center;
}

.form button {
    align-self: center;
    padding: 1.5vh 4vh;
    right: 0;
    margin-top: 2vh;
    
}